In [1]:
import numpy as np
import pandas as pd

## whenever selecting data it should be same.
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = int(n_samples-n_class_0)

In [2]:
## create imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [3]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [4]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [5]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Up Sampling

In [6]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [7]:
from sklearn.utils import resample
df_minority_upscaled = resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42) 
# Upscaleing and Sample With Replacement


print(df_minority_upscaled.shape)
print(df_minority_upscaled.target.value_counts())

(900, 3)
target
1    900
Name: count, dtype: int64

In [8]:
df_upsampled = pd.concat([df_majority,df_minority_upscaled])
df_upsampled.target.value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Downsample

In [16]:
import numpy as np
import pandas as pd

## whenever selecting data it should be same.
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = int(n_samples-n_class_0)

## create imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [18]:
## Downsampling
from sklearn.utils import resample
df_majority_downsample = resample(
    df_majority, replace=False,
    n_samples=len(df_minority),
    random_state=42
)

In [19]:
df_minority.target.value_counts()

target
1    100
Name: count, dtype: int64

In [20]:
df_majority_downsample.target.value_counts()

target
0    100
Name: count, dtype: int64

In [46]:
df_downsampled = pd.concat([df_minority,df_majority_downsample])

In [47]:
df_downsampled.reset_index(drop=True,inplace=True)

In [48]:
df_downsampled

     feature_1  feature_2  target
0    -0.300232   0.139033       1
1    -0.632261   0.025577       1
2    -0.204317  -0.196443       1
3     0.213696   1.312255       1
4     1.033878   1.187417       1
..         ...        ...     ...
195  -0.168426   0.553775       0
196  -0.403366   0.081491       0
197  -0.269293   0.611238       0
198  -0.295829   0.671673       0
199  -0.553404   0.804438       0

[200 rows x 3 columns]